<!DOCTYPE html>
<html>
<head>
    <title>The Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
<h1>The Market</h1>
<p>New Zealand’s Online Community Farmer's Market</p>
<nav class="navbar navbar-default">
    <div class="container-fluid"> <!-- top nav section -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/browse">The Market</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/browse">Browse</a></li>
            <li><a href="/sell">Sell</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/wishlist"><span class="glyphicon glyphicon-star-empty"></span> My Wishlist </a></li>
            <li><a href="/myListings"><span class="glyphicon glyphicon-tag"></span> My Listings </a></li>
            <li><a href="/cartTest"><span class="glyphicon glyphicon-shopping-cart"></span> View Cart </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div> <!-- Close container fluid div-->
    <div class="container-fluid search-nav"> <!-- bottom nav line -->
        <div class="form-horizontal" role="search" id="search-form">
            <div class="form-group">
                <div class = "col-md-4">
                    <input type="text" class="form-control" placeholder="Search" id="searchText">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="section_id" id="categories">
                        <option>All Categories</option>
                        <option>Bakery</option>
                        <option>Dairy and Eggs</option>
                        <option>Fruit</option>
                        <option>Vegetables</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category_id">
                        <option value="all">All Locations</option>
                        <option value="auckland">Auckland</option>
                        <option value="christchurch">Christchurch</option>
                        <option value="dunedin">Dunedin</option>
                        <option value="hamilton">Hamilton</option>
                        <option value="napier-hastings">Napier-Hastings</option>
                        <option value="nelson">Nelson</option>
                        <option value="palmerston-north">Palmerston North</option>
                        <option value="tauranga">Tauranga</option>
                        <option value="wellington">Wellington</option>
                        <option value="other-location">Other</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button onclick="runSearch()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h2><%=title%></h2>
    <div>
        <div class="col-md-2">
            <h3> <a href="/search?p=Bakery">Bakery</a></h3>
            <ul>
                <li> <a href="/search?c=Bread">Bread</a></li>
                <li> <a href="/search?c=Biscuits">Biscuits</a></li>
                <li> <a href="/search?c=Cakes">Cakes</a></li>
                <li> <a href="/search?c=Pastries">Pastries</a></li>
                <li> <a href="/search?c=Wraps">Wraps</a></li>
                <li class="other"> <a href="/search/?p=Bakery&c=Other">Other</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3> <a href="/search?p=Dairy and Eggs">Dairy and Eggs</a></h3>
            <ul>
                <li> <a href="/search?c=Butter">Butter</a></li>
                <li> <a href="/search?c=Cheese">Cheese</a></li>
                <li> <a href="/search?c=Eggs">Eggs</a></li>
                <li> <a href="/search?c=Milk">Milk</a></li>
                <li> <a href="/search?c=Yogurt">Yogurt</a></li>
                <li> <a href="/search?c=Dairy Alternatives">Dairy Alternatives</a></li>
                <li class="other"> <a href="/search?p=Dairy and Eggs&c=Other">Other</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3> <a href="/search?p=Fruit">Fruit</a></h3>
            <ul>
                <li> <a href="/search?c=Apples and Pears">Apples and Pears</a></li>
                <li> <a href="/search?c=Berries">Berries</a></li>
                <li> <a href="/search?c=Citrus">Citrus</a></li>
                <li> <a href="/search?c=Stone Fruit">Stone Fruit</a></li>
                <li> <a href="/search?c=Tropical Fruit">Tropical Fruit</a></li>
                <li> <a href="/search?c=Organic Fruit">Organic Fruit</a></li>
                <li class="other"> <a href="/search?p=Fruit&c=Other">Other</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>
                <a href="/search?p=Vegetables" class="brows">Vegetables</a>
            </h3>
            <ul>
                <li> <a href="/search?c=Beans and Peas">Beans and Peas</a></li>
                <li> <a href="/search?c=Chillies and Peppers">Chillies and Peppers</a></li>
                <li> <a href="/search?c=Cucumber and Zucchini">Cucumber and Zucchini</a></li>
                <li> <a href="/search?c=Herbs">Herbs</a></li>
                <li> <a href="/search?c=Leafy Vegetables">Leafy Vegetables</a></li>
                <li> <a href="/search?c=Pumpkin and Squash">Pumpkin and Squash</a></li>
                <li> <a href="/search?c=Root Vegetables">Root Vegetables</a></li>
                <li> <a href="/search?c=Tomatoes">Tomatoes</a></li>
                <li> <a href="/search?c=Organic Vegetables">Organic Vegetables</a></li>
                <li class="other"> <a href="/search?p=Vegetables&c=Other">Other</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3> <a href="/search?p=Other">Other</a></h3>
            <ul>
                <li> <a href="/search?c=Antipasto">Antipasto</a></li>
                <li> <a href="/search?c=Drinks">Drinks</a></li>
                <li> <a href="/search?c=Condiments">Condiments</a></li>
                <li> <a href="/search?c=Oils and Vinegars">Oils and Vinegars</a></li>
                <li> <a href="/search?c=Sauces">Sauces</a></li>
                <li> <a href="/search?c=Spreads">Spreads</a></li>
                <li> <a href="/search?c=Sweets and Snacks">Sweets and Snacks</a></li>
                <li class="other"> <a href="/search?p=Other&c=Other">Other</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3> <a href="/browse-location/All-Locations">Browse by Location</a></h3>
            <ul>
                <li> <a href="/browse-location/Auckland">Auckland</a></li>
                <li> <a href="/browse-location/Christchurch">Christchurch</a></li>
                <li> <a href="/browse-location/Dunedin">Dunedin</a></li>
                <li> <a href="/browse-location/Hamilton">Hamilton</a></li>
                <li> <a href="/browse-location/Napier-Hastings">Napier-Hastings</a></li>
                <li> <a href="/browse-location/Nelson">Nelson</a></li>
                <li> <a href="/browse-location/Palmerston-North">Palmerston North</a></li>
                <li> <a href="/browse-location/Tauranga">Tauranga</a></li>
                <li> <a href="/browse-location/Wellington"> Wellington</a></li>
                <li class="other"> <a href="/browse-location/Other-Location">Other</a></li>
            </ul>
        </div>
    </div>
</div>
</body>

<script>
    function runSearch(){
        if ($("#categories").val() == '')$("#categories").val("All Categories");
        console.log("Text: " + $("#searchText").val());
        console.log("Category: " + $("#categories").val());
        var out = "?";
        if ($("#categories").val() != "All Categories") {
            out +="p="+ $("#categories").val() + "&";
        }
        out +="s="+ $("#searchText").val();
        window.location.href = "/search"+out;
    }
</script>
</html>