<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Market - Edit Listing</title>
    <script src="/javascripts/jquery-1.12.1.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<%- include navigation.ejs %>


<div class="container" id="display" style="display:none">
    <h2>Sell Item</h2>
    <div class="well">
        <h3>Item Details:</h3>
        <div id="form" class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Item Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Item Title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Item Description:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" class="form-control" id="description" placeholder="Item Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="price">Item Price: $</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" min="0" step="0.01" id="price" placeholder="0.00" onchange="$(this).val(parseFloat($(this).val()).toFixed(2))">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="parentCategory">Parent Category:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="parentCategory" onchange="parentChanged($(this).val())">
                        <option>Bakery</option>
                        <option>Dairy and Eggs</option>
                        <option>Fruit</option>
                        <option>Vegetables</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="category">Category:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="category"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="quantity">Quantity: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" min="1" value="1" id="quantity" onchange="$(this).val(parseFloat($(this).val()).toFixed(0))">
                </div>
            </div>

            <h3>Item Images:</h3>
            <div class="text-center row imageUpload" id="pictures"></div>
            <div class="row">
                <div id="success" class="text-center alert alert-success" style="display:none"></div>
                <div id="error" class="text-center alert alert-danger" style="display:none"></div>
            </div>
            <div class="text-center">
                <button onclick="backToListings()" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back To Listings
                </button>
                <button onclick="listItem()" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save Changes
                </button>
                <button onclick="viewListing()" class="btn btn-default">
                    <span class="glyphicon glyphicon-tag"></span> View Listing
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    var pictures = ['<input id="upload" type="file" onchange="uploadImage()" accept="image/*" style="display:none">' +
    '<label for="upload">' +
    '<span class="glyphicon glyphicon-plus"></span> Add Image' +
    '<img src="/images/add_image_icon.png" class="thumbnail" width="200" height="200">' +
    '</label>'];

    var listing;



    function listItem(){
        var out = listing;

        if ($("#price").val() < 0) {
            $("#price").val(0);
            $("#error").html("<strong>Error: </strong> quantity cannot be less than zero");
            $("#error").show(500).delay(2000).hide(500);
            return;
        }

        out.price = $("#price").val();
        out.name = $("#title").val();
        out.description = $("#description").val();
        out.parent_category = $("#parentCategory").val();
        out.category = $("#category").val();
        out.stock = $("#quantity").val();

        console.log("OUT: " + JSON.stringify(out));
        $.ajax({
            url: "/myListings/edit",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(out),
            success: function(response){
                handleResponse(JSON.parse(response));
            }
        });
    }

    getItem();
    function getItem(){
        $.ajax({
            url: "/myListings/itemFromID",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({itemID:getParameterByName("id")}),
            success: function(response){
                console.log("RES: " + response);
                response = JSON.parse(response);
                response.price = response.price.replace("$","");
                listing = response;
                if (listing.image == null) listing.image = [];
                autoFill();
            }
        });
    }

    function uploadImage(){
        var blobFile = $('#upload')[0].files[0];
        var fd = new FormData();
        fd.append("fileToUpload", blobFile);
        $.ajax({
            url: "/sell/uploadPhoto",
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
                pictures.push('<img src="'+response+'" class="thumbnail" width="200" height="200">');
                listing.image.push(response);
                drawImages();
            }
        });
    }

    function drawImages(){
        var output = "";
        for (i in pictures){
            output+='<div class="col-xs-3 text-center">';
            if (i > 0) output+='<label onclick="deleteImage('+i+')"><span class="glyphicon glyphicon-remove"></span> Remove</label>';
            output+=pictures[i];
            output+='</div>';
        }
        $("#pictures").html(output);
    }

    function deleteImage(index){
        console.log("delete " + index);
        pictures.splice(index, 1);
        listing.image.splice(index-1, 1);
        drawImages();
    }

    function autoFill(){
        $("#title").val(listing.name);
        $("#description").val(listing.description);
        $("#price").val(listing.price);
        $("#parentCategory").val(listing.parent_category);
        parentChanged(listing.parent_category);
        $("#quantity").val(listing.stock);
        for (i in listing.image) {
            pictures.push('<img src="' + listing.image[i] + '" class="thumbnail" width="200" height="200">');
        }
        drawImages();
        $("#display").show();
    }

    function viewListing(){
        window.location.href = '/buy?id='+ getParameterByName("id");
    }

    function backToListings(){
        window.location.href = '/myListings';
    }

    function parentChanged(val){
        $.ajax({
            url: "/categories",
            type: "GET",
            contentType: "application/json",
            success: function(response){
                response = JSON.parse(response);
                var category = {};
                for (i in response){
                    if (response[i].parent == val){
                        category = response[i];
                    }
                }
                var out = "";
                for (i in category.children){
                    out+='<option>'+category.children[i]+'</option>';
                }
                $("#category").html(out);
                if (category.parent == listing.parent_category) $("#category").val(listing.category);
            }
        });
    }

    function handleResponse(res){
        if (res.success) {
            $("#success").html(res.message);
            $("#success").show(500).delay(2000).hide(500);
        }
        else {
            $("#error").html(res.message);
            $("#error").show(500).delay(2000).hide(500);
        }
    }

    function runSearch(){
        if ($("#categories").val() == '')$("#categories").val("All Categories");
        console.log("Text: " + $("#searchText").val());
        console.log("Category: " + $("#categories").val());
        var out = "?";
        if ($("#categories").val() != "All Categories") {
            out +="p="+ $("#categories").val() + "&";
        }
        out +="s="+ $("#searchText").val();
        window.location.href = "/search"+out;
    }

    function getParameterByName(name) {
        var url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
</body>
</html>