<!DOCTYPE html>
<html>
<head>
    <title>The Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>

<body>
<h1>The Market</h1>
<p>New Zealand’s Online Community Farmer's Market</p>
<nav class="navbar navbar-default">
    <div class="container-fluid"> <!-- top nav section -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/browse">The Market</a>
        </div>
        <ul class="nav navbar-nav">
			<% if (title == 'Browse') { %><li class="active">
			<% } else { %><li><% } %>
            <a href="/browse">Browse</a></li>
			<% if (title == 'Sell') { %><li class="active">
			<% } else { %><li><% } %>
            <a href="/sell">Sell</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
			<% if (title == 'My Wishlist') { %><li class="active">
			<% } else { %><li><% } %>
            <a href="/wishlist"><span class="glyphicon glyphicon-star-empty"></span> My Wishlist </a></li>
			<% if (title == 'My Listings') { %><li class="active">
			<% } else { %><li><% } %>
            <a href="/myListings"><span class="glyphicon glyphicon-tag"></span> My Listings </a></li>
			<% if (title == 'Cart') { %><li class="active">
			<% } else { %><li><% } %>
            <a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> View Cart </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div> <!-- Close container fluid div-->
    <div class="container-fluid search-nav"> <!-- bottom nav line -->
        <div class="form-horizontal" role="search" id="search-form">
            <div class="form-group">
                <div class = "col-md-4">
                    <input type="text" class="form-control" placeholder="Search" id="searchText">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="section_id" id="categories">
                        <option>All Categories</option>
                        <option>Bakery</option>
                        <option>Dairy and Eggs</option>
                        <option>Fruit</option>
                        <option>Vegetables</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category_id">
                        <option value="all">All Locations</option>
                        <option value="auckland">Auckland</option>
                        <option value="christchurch">Christchurch</option>
                        <option value="dunedin">Dunedin</option>
                        <option value="hamilton">Hamilton</option>
                        <option value="napier-hastings">Napier-Hastings</option>
                        <option value="nelson">Nelson</option>
                        <option value="palmerston-north">Palmerston North</option>
                        <option value="tauranga">Tauranga</option>
                        <option value="wellington">Wellington</option>
                        <option value="other-location">Other</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button onclick="runSearch()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>

<script>
    function runSearch(){
        if ($("#categories").val() == '')$("#categories").val("All Categories");
        console.log("Text: " + $("#searchText").val());
        console.log("Category: " + $("#categories").val());
        var out = "?";
        if ($("#categories").val() != "All Categories") {
            out +="p="+ $("#categories").val() + "&";
        }
        out +="s="+ $("#searchText").val();
        window.location.href = "/search"+out;
    }
</script>
</html>