<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/registerStyle.css' />
</head>
<body>
<div class = "register-block">
    <h1><%= title %></h1>
    <form action="register" method="post">
        <!--First name: <br>-->
        <input type="text" placeholder="First Name" name="firstname" required><br>
        <!--Last name: <br>-->
        <input type="text" placeholder="Last Name" name ="lastname" required><br>
        <!--Username: <br>-->
        <input type="text" placeholder="Username" name ="username" required><br>
        <!--Password: <br>-->
        <input type="password" placeholder="Password" name ="password" required><br>
        <!--Email: <br>-->
        <input type="text" placeholder="Email" name ="email" required><br>
        <!--Address: <br>-->
        <input type="text" placeholder="Address" name ="address" required><br>
        <!--City: <br>-->
        <input type="text" placeholder="City" name ="city" required><br>
        <!--Postcode: <br>-->
        <input type="text" placeholder="Postcode" name ="postcode" required><br>
        <!--Phone Number: <br>-->
        <input type="text" placeholder="Phone" name ="phoneNumber" required><br>
        <input id="submit" type="submit" value="Submit">
    </form>
    </div>
</body>
</html>