<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form>
    First name: <br>
    <input type="text" name="firstname"><br>
    Last name: <br>
    <input type="text" name ="lastname"><br>
    Username: <br>
    <input type="text" name ="username"><br>
    Password: <br>
    <input type="text" name ="password"><br>
    Email: <br>
    <input type="text" name ="email"><br>
    Address: <br>
    <input type="text" name ="address"><br>
    City: <br>
    <input type="text" name ="city"><br>
    Postcode: <br>
    <input type="text" name ="postcode"><br>
    Phone Number: <br>
    <input type="text" name ="phoneNumber"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>