<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing Item</title>
    <script src="/javascripts/jquery-1.12.1.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<h1>The Market</h1>
<p>New Zealand’s Online Community Farmer's Market</p>
<nav class="navbar navbar-default">
    <div class="container-fluid"> <!-- top nav section -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/browse">The Market</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/browse">Browse</a></li>
            <li class="active"><a href="/sell">Sell</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/wishlist"><span class="glyphicon glyphicon-star-empty"></span> My Wishlist </a></li>
            <li><a href="/myListings"><span class="glyphicon glyphicon-tag"></span> My Listings </a></li>
            <li><a href="/cartTest"><span class="glyphicon glyphicon-shopping-cart"></span> View Cart </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div> <!-- Close container fluid div-->
    <div class="container-fluid search-nav"> <!-- bottom nav line -->
        <form action = "/search" class="form-horizontal" role="search" id="search-form">
            <div class="form-group">
                <div class = "col-md-4">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="section_id">
                        <option value="all">All Categories</option>
                        <option value="bakery">Bakery</option>
                        <option value="dairy-eggs">Dairy and Eggs</option>
                        <option value="fruit">Fruit</option>
                        <option value="vegeables">Vegetables</option>
                        <option value="other-catagory">Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category_id">
                        <option value="all">All Locations</option>
                        <option value="auckland">Auckland</option>
                        <option value="christchurch">Christchurch</option>
                        <option value="dunedin">Dunedin</option>
                        <option value="hamilton">Hamilton</option>
                        <option value="napier-hastings">Napier-Hastings</option>
                        <option value="nelson">Nelson</option>
                        <option value="palmerston-north">Palmerston North</option>
                        <option value="tauranga">Tauranga</option>
                        <option value="wellington">Wellington</option>
                        <option value="other-location">Other</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </form>
    </div>
</nav>


<div class="container">
    <h2>Sell Item</h2>
    <div class="well">
        <h3>Item Details:</h3>
        <div id="form" class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Item Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Item Title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Item Description:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" class="form-control" id="description" placeholder="Item Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="price">Item Price: $</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" min="0" step="0.01" id="price" placeholder="0.00" onchange="$(this).val(parseFloat($(this).val()).toFixed(2))">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="parentCategory">Parent Category:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="parentCategory" onchange="parentChanged($(this).val())">
                        <option>Bakery</option>
                        <option>Dairy and Eggs</option>
                        <option>Fruit</option>
                        <option>Vegetables</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="category">Category:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="category"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="quantity">Quantity: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" min="1" value="1" id="quantity" onchange="$(this).val(parseFloat($(this).val()).toFixed(0))">
                </div>
            </div>

            <h3>Item Images:</h3>
            <div class="text-center row imageUpload" id="pictures"></div>
            <div class="row">
                <div id="success" class="text-center alert alert-success" style="display:none"></div>
                <div id="error" class="text-center alert alert-danger" style="display:none"></div>
            </div>

            <div class="text-center">
                <button onclick="listItem()" class="btn btn-success market btn-lg">
                    <span class="glyphicon glyphicon-ok"></span> List Item
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    var pictures = ['<input id="upload" type="file" onchange="uploadImage()" accept="image/*" style="display:none">' +
    '<label for="upload">' +
    '<span class="glyphicon glyphicon-plus"></span> Add Image' +
    '<img src="/images/add_image_icon.png" class="thumbnail" width="200" height="200">' +
    '</label>'];

    var imagePaths = [];
    var user = "";

    init();
    function init() {
        drawImages();
        parentChanged("Bakery");
        $.ajax({
            url: "/user",
            type: "GET",
            contentType: "application/json",
            success: function(response){
                console.log(response);
                user = JSON.parse(response).username;
            }
        });
    }

    function drawImages(){
        var output = "";
        for (i in pictures){
            output+='<div class="col-xs-3 text-center">';
            if (i > 0) output+='<label onclick="deleteImage('+i+')"><span class="glyphicon glyphicon-remove"></span> Remove</label>';
            output+=pictures[i];
            output+='</div>';
        }
        $("#pictures").html(output);
    }

    function deleteImage(index){
        console.log("delete " + index);
        pictures.splice(index, 1);
        imagePaths.splice(index-1, 1);
        drawImages();
    }

    function uploadImage(){
        var blobFile = $('#upload')[0].files[0];
        var fd = new FormData();
        fd.append("fileToUpload", blobFile);
        $.ajax({
            url: "/sell/uploadPhoto",
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
                pictures.push('<img src="'+response+'" class="thumbnail" width="200" height="200">');
                imagePaths.push(response);
                drawImages();
            }
        });
    }

    function listItem(){
        var out = {name:$("#title").val(),description:$("#description").val(),category:$("#category").val(),price:$("#price").val(),image:imagePaths,stock:$("#quantity").val(),seller:user,parent_category:$("#parentCategory").val()};
        if ($("#price").val() < 0) {
            $("#price").val(0);
            $("#error").html("<strong>Error: </strong> quantity cannot be less than zero");
            $("#error").show(500).delay(2000).hide(500);
            return;
        }

        $.ajax({
            url: "/sell",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(out),
            success: function(response){
                handleResponse(JSON.parse(response));
            }
        });
    }

    function parentChanged(val){
        $.ajax({
            url: "/categories",
            type: "GET",
            contentType: "application/json",
            success: function(response){
                response = JSON.parse(response);
                var category = {};
                for (i in response){
                    if (response[i].parent == val){
                        category = response[i];
                    }
                }
                var out = "";
                for (i in category.children){
                    out+='<option>'+category.children[i]+'</option>';
                }
                $("#category").html(out);
            }
        });
    }

    function handleResponse(res){
        if (res.success) {
            $("#success").html(res.message);
            $("#success").show(500).delay(2000).hide(500);
            $(':input').val('');
            pictures = ['<input id="upload" type="file" onchange="uploadImage()" accept="image/*" style="display:none">' +
            '<label for="upload">' +
            '<span class="glyphicon glyphicon-plus"></span> Add Image' +
            '<img src="/images/add_image_icon.png" class="thumbnail" width="200" height="200">' +
            '</label>'];
            imagePaths = [];
            drawImages();
        }
        else {
            $("#error").html(res.message);
            $("#error").show(500).delay(2000).hide(500);
        }
    }
</script>
</body>
</html>