<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Market - Wishlist</title>
    <script src="/javascripts/jquery-1.12.1.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<%- include navigation.ejs %>

<div class="container">
    <div class="well">
        <h1> My Wishlist </h1>
        <br><br>
        <div class="text-center">
            <div id="success" class="text-center alert alert-success" style="display:none"></div>
            <div id="error" class="text-center alert alert-danger" style="display:none"></div>
        </div>
        <div id="itemList"></div>
    </div>

</div>
</body>
<script>

    var currentListingsJSON = [];
    var currentListings = "";
    var user = "";

    init()
    function init() {
        $.ajax({
            url: "/user",
            type: "GET",
            contentType: "application/json",
            success: function(response){
                console.log(response);
                user = JSON.parse(response).username;
                getListings();
            }
        });
    }

    function getListings(){
        var out = {username:user};
        currentListings = '<div class="text-center">' +
                '<div id="success0" class="text-center alert alert-success" style="display:none"></div>' +
                '<div id="error0" class="text-center alert alert-danger" style="display:none"></div>' +
                '</div>';
        $.ajax({
            url: "/wishlist/items",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(out),
            success: function (response) {
                response = JSON.parse(response);
                currentListingsJSON = response;
                drawListings();
            }
        });
    }

    function makeListingItem(item, index){
        var imagePath = "";
        if (item.image != null) imagePath = item.image[0];

        currentListings += '<div class="well deep row"><div class="col-xs-3">' +
                '<a href="/buy?id='+item.itemid+'">'+
                '<img src="'+imagePath+'" class="thumbnail" width="200" height="200"></a>'+
                '</div><div class="col-xs-9"><div class="row"><div class="col-xs-9">'+
                '<h2><a href="/buy?id='+item.itemid+'">'+item.name+'</a></h2></div>'+
                '<div class="col-xs-3 text-right">' +
                '<button type="button" onclick="removeListing('+index+')" class="btn btn-success market"><span class="glyphicon glyphicon-remove"></span> Remove</button>' +
                '</div></div><div class="col-xs-3">'+
                '<h3>Price: <small>'+item.price+'</small></h3>'+
                '</div><div class="col-xs-3">'+
                '<h3>Quantity: <small>'+item.stock+'</small></h3>'+
                '</div></div></div>' +
                '<div class="text-center">' +
                '<div id="success'+index+'" class="text-center alert alert-success" style="display:none"></div>' +
                '<div id="error'+index+'" class="text-center alert alert-danger" style="display:none"></div>' +
                '</div>';
    }

    function removeListing(index){
        console.log("removing " + index);
        var out = currentListingsJSON[index];
        $.ajax({
            url: "/wishlist/remove",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(out),
            success: function(response){
                currentListingsJSON.splice(index,1);
                response = JSON.parse(response);
                drawListings();
                handleResponse(response, index-1);
            }
        });
    }

    function handleResponse(res, index){
        if (index == -1) index = "";
        var successID = "#success"+index;
        var errorID = "#error"+index;
        console.log("RES: " + JSON.stringify(res)+ " INDEX: " + successID);
        if (res.success) {
            $(successID).html(res.message);
            $(successID).show(500).delay(2000).hide(500);
        }
        else {
            $(errorID).html(res.message);
            $(errorID).show(500).delay(2000).hide(500);
        }
    }

    function runSearch(){
        if ($("#categories").val() == '')$("#categories").val("All Categories");
        console.log("Text: " + $("#searchText").val());
        console.log("Category: " + $("#categories").val());
        var out = "?";
        if ($("#categories").val() != "All Categories") {
            out +="p="+ $("#categories").val() + "&";
        }
        out +="s="+ $("#searchText").val();
        window.location.href = "/search"+out;
    }

    function drawListings(){
        currentListings = "";
        for (i in currentListingsJSON){
            makeListingItem(currentListingsJSON[i], i);
        }
        $("#itemList").html(currentListings);
    }

</script>

</html>