<<<<<<< HEAD
body{
    padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F3F4EC;
}

a {
  color: #00B7FF;
}

h1{
    padding-left: 50px;
	font: 5em "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #A37B45;
}

p{
    padding-left: 100px;
    color: #424242;
    font-weight: bold;
}

h2{
    color: #86942A;
    font-weight: bold;
}

/* navbar */
.navbar-default {
    background-color: #507642;
}
/* title */
.navbar-default .navbar-brand {
    color: #F3F4EC;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #86942A;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #F3F4EC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #86942A;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #424242;
    background-color: #86942A;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

h3 a{
    color: black;
}

ul {
    list-style-type: none;
    display: inline;
}
ul a{
    color: black;
}

.float-left{
    display: inline-block;
    float: left;
}

.float-right{
    display: inline-block;
    clear: right;
}
=======
div.tab{
	background-color:#FFFFFF;
	padding: 1% 1% 1% 1%;
}
span.docCount{
	float:right;
	background-color:#B2D490;
}

div.slider-size{
	text-align:center;
}

.imageUpload {
	padding: 2% 2% 2% 2%;
	background-color: #f4ffb9;
	border-radius: 4px;
}
/*img{*/
	/*margin-top: 5vh;*/
	/*margin-bottom: 5vh;*/
/*}*/
/*body{*/
	/*background-color: #e4ff90;*/
/*}*/

/*.well{*/
	/*background-color: #4a9b05;*/
/*}*/

/*h1,*/
/*h2 {*/
	/*color: #B38014;*/
/*}*/

/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
	/*color: #FFFFFF;*/
/*}*/

/*label {*/
	/*color: #87C44B;*/
/*}*/

/* Mobile */
@media (max-width: 767px) {
	.slider-size {
		height: 35vh;
	}
	.slider-size > img {
		width: 80%;
	}
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
	.slider-size {
		height: 50vh;
	}
	.slider-size > img {
		width: 80%;
	}
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
	.slider-size {
		height: 50vh;
	}
	.slider-size > img {
		width: 80%;
	}
}

/* desktops */
@media (min-width: 1024px) {
	.slider-size {
		height: 50vh;
	}
	.slider-size > img {
		width: 60%;
	}
}
>>>>>>> origin/master
